@import 'vars';

.content {
  a:hover {
    text-decoration: underline;
  }
  ol {
    counter-reset: list;
  }
  ol > li {
    list-style-position: none;
    position: relative;
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  ul > li {
    margin: 5px 10px 5px 0;
  }
  ul {
    padding: 0 20px 0 20px;
  }
  .post-list {
    padding: 0 20px 0 0px;
  }
  ol {
    padding: 0 30px 0 30px;
  }
  ol > li:before {
    content: '[' counter(list, decimal) '] ';
    counter-increment: list;
    position: absolute;
    left: -30px;
  }
  blockquote {
    //border: 1px solid black;
    border-left: 5px solid #333333;
    margin: 20px 0 20px 0;
    padding: 2px 8px 2px 8px;
    font-style: italic;
  }
  .profile-picture {
    height: $image-size;
    width: $image-size;
    position: relative;
    margin: -10px 0 0 15px;
    float: right;
    border-radius: 50%;
    p & {
      padding: 0;
      margin: 0;
    }
    @media (max-width: $small-width) {
      img {
        margin-top: -5px;
      }
    }
  }
  img {
    text-align: center;
    width: 100%;
  }
}
.posttitle {
  text-transform: none;
  font-size: 1.5em;
  line-height: 1.25;
}

.post-list .post-item {
  margin-bottom: 1rem;
  margin-left: 0;
  list-style-type: none;
}
.post-list .post-item .meta {
  display: block;
  margin-right: 16px;
  min-width: 100px;
  color: #666;
  font-size: 14px;
}
@media (min-width: 480px) {
  .post-list .post-item {
    display: flex;
    margin-bottom: 5px;
  }
  .post-list .post-item .meta {
    text-align: left;
  }
}
.project-list {
  padding: 0;
  list-style: none;
}
.project-list .project-item {
  margin-bottom: 5px;
}
.project-list .project-item p {
  display: inline;
}
article header .posttitle {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: none;
  font-size: 1.5em;
  line-height: 1.25;
}
article header .meta {
  margin-top: 0;
  margin-bottom: 1rem;
}
article header .meta * {
  color: #8c8c8c;
  font-size: 0.85rem;
}
article header .author {
  text-transform: uppercase;
  letter-spacing: 0.01em;
  font-weight: 700;
}
article header .postdate {
  display: inline;
}
article .content h2:before {
  position: absolute;
  top: -4px;
  left: -1rem;
  color: #2bbc8a;
  content: '#';
  font-weight: bold;
  font-size: 1.2rem;
}
article .content img,
article .content video {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}
article .content .video-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  height: 0;
}
article .content .video-container iframe,
article .content .video-container object,
article .content .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  width: 100%;
  height: 100%;
}
article .content blockquote {
  margin: 1rem 10px;
  padding: 0.5em 10px;
  background: inherit;
  color: #2bbc8a;
  quotes: '\201C''\201D''\2018''\2019';
  font-weight: bold;
}
article .content blockquote p {
  margin: 0;
}
article .content blockquote:before {
  margin-right: 0.25em;
  color: #2bbc8a;
  content: '\201C';
  vertical-align: -0.4em;
  font-size: 2em;
  line-height: 0.1em;
}
article .content blockquote footer {
  margin: line-height 0;
  color: #666;
  font-size: 11px;
}
article .content blockquote footer a {
  background-image: linear-gradient(
    transparent,
    transparent 5px,
    #666 5px,
    #666
  );
  color: #666;
}
article .content blockquote footer a:hover {
  background-image: linear-gradient(
    transparent,
    transparent 4px,
    #858585 4px,
    #858585
  );
  color: #858585;
}
article .content blockquote footer cite:before {
  padding: 0 0.5em;
  content: '—';
}
article .content .pullquote {
  margin: 0;
  width: 45%;
  text-align: left;
}
article .content .pullquote.left {
  margin-right: 1em;
  margin-left: 0.5em;
}
article .content .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
article .content .caption {
  position: relative;
  display: block;
  margin-top: 0.5em;
  color: #666;
  text-align: center;
  font-size: 0.9em;
}
.posttitle {
  text-transform: none;
  font-size: 1.5em;
  line-height: 1.25;
}
